<!DOCTYPE html>
<html lang="hi">
<head>
  <meta charset="UTF-8">
  <title>Horizon</title>
</head>
<body>
  <h1>Horizon Posts</h1>
  {% for post in paginator.posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <div>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
        <a href="{{ page == 1 ? '/index.html' : '/page' | append: page | append: '/' }}">{{ page }}</a>
      {% endfor %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">Next</a>
      {% endif %}
    </div>
  {% endif %}
</body>
</html>
